* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.header-background,
.hero-background {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 64px;
}

.header-background {
  height: 64px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}

.link-container {
  display: flex;
  gap: 16px;
}

a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.hero-background {
  height: 400px;
}

.hero-container {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.hero-main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-left,
.hero-image {
  flex-basis: 480px;
}

.hero-image{
  height: 195px;
  object-fit: cover;
}

.hero-button {
  border: none;
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 700;
  padding: 8px 32px;
  margin-top: 8px;
  border-radius: 8px;
}
