* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.header-background {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  height: 64px;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}

.link-container {
  display: flex;
  gap: 16px;
}

a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}